<!--NAVIGATION-->


<a href="https://colab.research.google.com/github/saskeli/x/blob/master/pandas2.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

|                                            -                                            |                                            -                                            |                                            -                                            |
|-----------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------|
|                    [Exercise 1 (cities)](<#Exercise-1-(cities&#41;>)                    |          [Exercise 2 (powers of series)](<#Exercise-2-(powers-of-series&#41;>)          |     [Exercise 3 (municipal information)](<#Exercise-3-(municipal-information&#41;>)     |
| [Exercise 4 (municipalities of finland)](<#Exercise-4-(municipalities-of-finland&#41;>) |    [Exercise 5 (swedish and foreigners)](<#Exercise-5-(swedish-and-foreigners&#41;>)    |    [Exercise 6 (growing municipalities)](<#Exercise-6-(growing-municipalities&#41;>)    |
|       [Exercise 7 (subsetting with loc)](<#Exercise-7-(subsetting-with-loc&#41;>)       |   [Exercise 8 (subsetting by positions)](<#Exercise-8-(subsetting-by-positions&#41;>)   |                [Exercise 9 (snow depth)](<#Exercise-9-(snow-depth&#41;>)                |
|      [Exercise 10 (average temperature)](<#Exercise-10-(average-temperature&#41;>)      |               [Exercise 11 (below zero)](<#Exercise-11-(below-zero&#41;>)               |                 [Exercise 12 (cyclists)](<#Exercise-12-(cyclists&#41;>)                 |
|      [Exercise 13 (missing value types)](<#Exercise-13-(missing-value-types&#41;>)      |   [Exercise 14 (special missing values)](<#Exercise-14-(special-missing-values&#41;>)   |                [Exercise 15 (last week)](<#Exercise-15-(last-week&#41;>)                |
|               [Exercise 16 (split date)](<#Exercise-16-(split-date&#41;>)               |            [Exercise 17 (cleaning data)](<#Exercise-17-(cleaning-data&#41;>)            |                                                                                         |

# Pandas (continues)

## Creation of dataframes

The DataFrame is essentially a two dimensional object, and it can be created in three different ways:

* out of a two dimensional NumPy array
* out of given columns
* out of given rows

#### <div class="alert alert-info">Exercise 1 (cities)</div>

Write function `cities` that returns the following DataFrame of top Finnish cities by population:

```
                 Population Total area
Helsinki         643272     715.48
Espoo            279044     528.03
Tampere          231853     689.59
Vantaa           223027     240.35
Oulu             201810     3817.52
```

<hr/>

In [1]:
import pandas as pd

def cities():
    w = pd.DataFrame([[643272, 715.48], [279044, 528.03], [231853, 689.59], [223027, 240.35], [201810, 3817.52]], columns=["Population", "Total area"],index=["Helsinki", "Espoo", "Tampere", "Vantaa", "Oulu"] )
    return w
    
def main():
    print(cities())
    
if __name__ == "__main__":
    main()

          Population  Total area
Helsinki      643272      715.48
Espoo         279044      528.03
Tampere       231853      689.59
Vantaa        223027      240.35
Oulu          201810     3817.52

#### <div class="alert alert-info">Exercise 2 (powers of series)</div>

Make function `powers_of_series` that takes a Series and a positive integer `k` as parameters and returns a DataFrame. The resulting DataFrame should have the same index as the input Series. The first column of the dataFrame should be the input Series, the second column should contain the Series raised to power of two. The third column should contain the Series raised to the power of three, and so on until (and including) power of `k`. The columns should have indices from 1 to k.

The values should be numbers, but the index can have any type.
Test your function from the `main` function. Example of usage:

```
s = pd.Series([1,2,3,4], index=list("abcd"))
print(powers_of_series(s, 3))
```
Should print:
```
   1   2   3
a  1   1   1
b  2   4   8
c  3   9  27
d  4  16  64
```


<hr/>

In [2]:
#!/usr/bin/env python3

import pandas as pd

def powers_of_series(s, k):
    valuesList = []
    columnList = []
    
    for i in range(1,k+1):
        valuesList.append(s.values**i)
        columnList.append(i)
    
    d = dict(zip(columnList, valuesList))

    w = pd.DataFrame(d, index=s.index)
    return w
    
def main():
    s = pd.Series([1,2,3,4], index = list("abcd"))
    print(powers_of_series(s, 3))
    
if __name__ == "__main__":
    main()

   1   2   3
a  1   1   1
b  2   4   8
c  3   9  27
d  4  16  64

#### <div class="alert alert-info">Exercise 3 (municipal information)</div>

In the `main` function load a data set of municipal information from the `src` folder (originally from [Statistics Finland](https://pxnet2.stat.fi/PXWeb/pxweb/en/)). Use the function `pd.read_csv`, and note that the separator is a tabulator.

Print the shape of the DataFrame (number of rows and columns) and the column names in the following format:
```
Shape: r,c
Columns:
col1 
col2
...
```

Note, sometimes file ending `tsv` (tab separated values) is used instead of `csv` if the separator is a tab.
<hr/>

In [6]:
#!/usr/bin/env python3


import pandas as pd

def main():
    data = pd.read_csv("municipal.tsv", sep='\t')
    print(f"Shape: {data.shape[0]}, {data.shape[1]} ")
    print("Columns:" )
    for i in data.columns:
        print(i)


if __name__ == "__main__":
    main()

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

## Accessing columns and rows of a dataframe

Even though DataFrames are basically just two dimensional arrays, the way to access their elements is different from NumPy arrays. There are a couple of complications, which we will go through in this section.

Firstly, the bracket notation `[]` does not allow the use of an index pair to access a single element of the DataFrame. Instead only one dimension can be specified.

Well, does this dimension specify the rows of the DataFrame, like NumPy arrays if only one index is given, or does it specify the columns of the DataFrame?

It depends!

If an integer is used, then it specifies a column of the DataFrame in the case the **explicit** indices for the column contain that integer. In any other case an error will result. For example, with the above DataFrame, the following indexing will not work, because the explicit column index consist of the column names "Name" and "Wage" which are not integers.

#### <div class="alert alert-info">Exercise 4 (municipalities of finland)</div>

Load again the municipal information DataFrame. The rows of the DataFrame correspond to various geographical areas of Finland. The first row is about Finland as a whole, then rows from Akaa to Äänekoski are municipalities of Finland in alphabetical order. After that some larger regions are listed.

Write function `municipalities_of_finland` that returns a DataFrame containing only rows about municipalities.
Give an appropriate argument for `pd.read_csv` so that it interprets the column about region name as the (row) index. This way you can index the DataFrame with the names of the regions.

Test your function from the `main` function.
<hr/>

In [7]:
#!/usr/bin/env python3

import pandas as pd

def municipalities_of_finland():
    w=pd.read_csv("municipal.tsv", sep='\t', index_col= 0)
    w1 = pd.DataFrame(w)    
    return w1["Akaa":"Äänekoski"]
    
def main():
    print(municipalities_of_finland())
    
if __name__ == "__main__":
    main()

             Population  Population change from the previous year, %  \
Region 2018
Akaa              16769                                         -0.9
Alajärvi           9831                                         -0.7
Alavieska          2610                                         -1.1
Alavus            11713                                         -1.6
Asikkala           8248                                         -0.9
...                 ...                                          ...
Ylivieska         15251                                          0.3
Ylöjärvi          32878                                          0.2
Ypäjä              2372                                         -0.4
Ähtäri             5906                                         -1.3
Äänekoski         19144                                         -1.2

             Share of Swedish-speakers of the population, %  \
Region 2018
Akaa                                                    0.2
Alajärvi                                                0.1
Alavieska                                               0.2
Alavus                                                  0.1
Asikkala                                                0.2
...                                                     ...
Ylivieska                                               0.3
Ylöjärvi                                                0.3
Ypäjä                                                   0.7
Ähtäri                                                  0.1
Äänekoski                                               0.1

             Share of foreign citizens of the population, %  \
Region 2018
Akaa                                                    1.6
Alajärvi                                                1.9
Alavieska                                               0.6
Alavus                                                  1.1
Asikkala                                                1.6
...                                                     ...
Ylivieska                                               1.2
Ylöjärvi                                                1.2
Ypäjä                                                   1.9
Ähtäri                                                  0.9
Äänekoski                                               1.2

             Proportion of the unemployed among the labour force, %  \
Region 2018
Akaa                                                      14.6
Alajärvi                                                  13.9
Alavieska                                                 10.8
Alavus                                                    11.3
Asikkala                                                  12.0
...                                                        ...
Ylivieska                                                 13.3
Ylöjärvi                                                  11.7
Ypäjä                                                     13.2
Ähtäri                                                    13.0
Äänekoski                                                 19.7

             Proportion of pensioners of the population, %
Region 2018
Akaa                                                  26.1
Alajärvi                                              32.0
Alavieska                                             28.4
Alavus                                                31.5
Asikkala                                              35.5
...                                                    ...
Ylivieska                                             23.1
Ylöjärvi                                              20.3
Ypäjä                                                 31.4
Ähtäri                                                35.1
Äänekoski                                             30.5

[311 rows x 6 columns]

#### <div class="alert alert-info">Exercise 5 (swedish and foreigners)</div>

Write function `swedish_and_foreigners` that

* Reads the municipalities data set
* Takes the subset about municipalities (like in previous exercise)
* Further take a subset of rows that have proportion of Swedish speaking people and proportion of foreigners both above 5 % level
* From this data set take only columns about population, the proportions of Swedish speaking people and foreigners, that is three columns.

The function should return this final DataFrame.

Do you see some kind of correlation between the columns about Swedish speaking and foreign people? Do you see correlation between the columns about the population and the proportion of Swedish speaking people in this subset?

<hr/>

In [9]:
#!/usr/bin/env python3

import pandas as pd

def swedish_and_foreigners():
    df = pd.read_csv("C:\municipal.tsv", sep='\t', index_col= 0)
    df2 = pd.DataFrame(df)
    df3 = df2["Akaa":"Äänekoski"]
    df4=df3[df3["Share of Swedish-speakers of the population, %"]>5] 
    df5 = df4[df4["Share of foreign citizens of the population, %"]>5]
    
    return df5[["Population", "Share of Swedish-speakers of the population, %", "Share of foreign citizens of the population, %"  ]]

def main():
    print(swedish_and_foreigners())

if __name__ == "__main__":
    main()

               Population  Share of Swedish-speakers of the population, %  \
Region 2018
Brändö                452                                            72.6
Eckerö                948                                            89.7
Espoo              279044                                             7.2
Finström             2580                                            89.8
Föglö                 532                                            84.2
Geta                  495                                            86.9
Hammarland           1547                                            89.7
Helsinki           643272                                             5.7
Jomala               4859                                            89.1
Kaskinen             1274                                            29.9
Kirkkonummi         39170                                            16.6
Korsnäs              2154                                            85.8
Kumlinge              314                                            85.4
Kökar                 236                                            87.7
Lapinjärvi           2706                                            31.2
Lemland              2028                                            92.1
Lumparland            395                                            86.6
Mariehamn           11677                                            84.2
Närpiö               9507                                            80.4
Pietarsaari         19379                                            56.2
Saltvik              1873                                            91.9
Sottunga               92                                            93.5
Sund                 1031                                            88.8
Turku              189669                                             5.4
Uusikaarlepyy        7521                                            86.7
Vaasa               67392                                            22.8
Vårdö                 430                                            88.1
Vöyri                6616                                            81.1

               Share of foreign citizens of the population, %
Region 2018
Brändö                                                    8.4
Eckerö                                                   11.5
Espoo                                                    10.5
Finström                                                 10.5
Föglö                                                    17.3
Geta                                                     13.5
Hammarland                                               11.6
Helsinki                                                  9.5
Jomala                                                    8.5
Kaskinen                                                  5.3
Kirkkonummi                                               5.5
Korsnäs                                                   9.1
Kumlinge                                                  8.0
Kökar                                                     8.1
Lapinjärvi                                                5.1
Lemland                                                   8.0
Lumparland                                                9.9
Mariehamn                                                13.0
Närpiö                                                   12.7
Pietarsaari                                               7.1
Saltvik                                                   6.3
Sottunga                                                  5.4
Sund                                                      8.5
Turku                                                     6.5
Uusikaarlepyy                                             6.1
Vaasa                                                     6.0
Vårdö                                                     9.5
Vöyri                                                     5.7

#### <div class="alert alert-info">Exercise 6 (growing municipalities)</div>

Write function `growing_municipalities` that gets subset of municipalities (a DataFrame) as a parameter and returns the proportion of municipalities with increasing population in that subset.

Test your function from the `main` function using some subset of the municipalities.
Print the proportion as percentages using 1 decimal precision.

Example output:

```
Proportion of growing municipalities: 12.4%
```

<hr/>

In [10]:
#!/usr/bin/env python3

import pandas as pd

def growing_municipalities(df):
    df2 = df[df["Population change from the previous year, %"]>0]
    return df2.shape[0]/df.shape[0]

def main():
    df = pd.read_csv("C:\municipal.tsv", sep='\t', index_col= 0)
    df = df["Akaa":"Äänekoski"]
    print(f" Proportion of growing municipalities: {growing_municipalities(df):.1f}%")
    

if __name__ == "__main__":
    main()

 Proportion of growing municipalities: 0.2%

## Alternative indexing and data selection

If the explanation in the previous section sounded confusing or ambiguous, or if you didn't understand a thing, you don't have to worry.

There is another way to index Pandas DataFrames, which

* allows use of index pairs to access a single element
* has the same order of dimensions as NumPy: first index specifies rows, second columns
* is not ambiguous about implicit or explicit indices

Pandas DataFrames have attributes `loc` and `iloc` that have the above qualities.
You can use `loc` and `iloc` attributes and forget everything about the previous section. Or you can use these attributes
and sometimes use the methods from the previous section as shortcuts if you understand them well.

The difference between `loc` and `iloc` attributes is that the former uses explicit indices and the latter uses the implicit integer indices. Examples of use:

#### <div class="alert alert-info">Exercise 7 (subsetting with loc)</div>

Write function `subsetting_with_loc` that in one go takes the subset of municipalities from Akaa to Äänekoski and restricts it to columns: "Population", "Share of Swedish-speakers of the population, %", and "Share of foreign citizens of the population, %".
The function should return this content as a DataFrame. Use the attribute `loc`.


<hr/>

In [11]:
#!/usr/bin/env python3

import pandas as pd

def subsetting_with_loc():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col=0)
    df = df["Akaa" : "Äänekoski"]
    df = df.loc[:,["Population", "Share of Swedish-speakers of the population, %","Share of foreign citizens of the population, %"]]
    return df

def main():
    print(subsetting_with_loc())

if __name__ == "__main__":
    main()

             Population  Share of Swedish-speakers of the population, %  \
Region 2018
Akaa              16769                                             0.2
Alajärvi           9831                                             0.1
Alavieska          2610                                             0.2
Alavus            11713                                             0.1
Asikkala           8248                                             0.2
...                 ...                                             ...
Ylivieska         15251                                             0.3
Ylöjärvi          32878                                             0.3
Ypäjä              2372                                             0.7
Ähtäri             5906                                             0.1
Äänekoski         19144                                             0.1

             Share of foreign citizens of the population, %
Region 2018
Akaa                                                    1.6
Alajärvi                                                1.9
Alavieska                                               0.6
Alavus                                                  1.1
Asikkala                                                1.6
...                                                     ...
Ylivieska                                               1.2
Ylöjärvi                                                1.2
Ypäjä                                                   1.9
Ähtäri                                                  0.9
Äänekoski                                               1.2

[311 rows x 3 columns]

#### <div class="alert alert-info">Exercise 8 (subsetting by positions)</div>

Write function `subsetting_by_positions` that does the following.

Read the data set of the top forty singles from the beginning of the year 1964 from the `src` folder. Return the top 10 entries and only the columns `Title` and `Artist`. Get these elements by their positions, that is, by using a single call to the `iloc` attribute. The function should return these as a DataFrame.

<hr/>

In [12]:
#!/usr/bin/env python3

import pandas as pd

def subsetting_by_positions():
    df = pd.read_csv("UK-top40-1964-1-2.tsv", sep="\t")
    return pd.DataFrame(df.iloc[0:10,2:4])

def main():
    print(subsetting_by_positions())

if __name__ == "__main__":
    main()

                          Title                    Artist
0      I WANT TO HOLD YOUR HAND               THE BEATLES
1                 GLAD ALL OVER       THE DAVE CLARK FIVE
2                 SHE LOVES YOU               THE BEATLES
3          YOU WERE MADE FOR ME  FREDDIE AND THE DREAMERS
4  TWENTY FOUR HOURS FROM TULSA               GENE PITNEY
5    I ONLY WANT TO BE WITH YOU         DUSTY SPRINGFIELD
6                     DOMINIQUE           THE SINGING NUN
7                   MARIA ELENA      LOS INDIOS TABAJARAS
8                   SECRET LOVE               KATHY KIRBY
9             DON'T TALK TO HIM             CLIFF RICHARD

## Summary statistics

The summary statistic methods work in a similar way as their counter parts in NumPy. By default, the aggregation is done over columns.

#### <div class="alert alert-info">Exercise 9 (snow depth)</div>

Write function `snow_depth` that reads in the weather DataFrame from the `src` folder and returns the maximum amount of snow in the year 2017.

Print the result in the `main` function in the following form:
```
Max snow depth: xx.x
```

<hr/>

In [13]:
#!/usr/bin/env python3

import pandas as pd

def snow_depth():
    df = pd.read_csv("kumpula-weather-2017.csv")
    #df = df.loc[df["Snow depth (cm)"].max()]
    #df1 =  df.describe()
    #return df1.loc["max",["Snow depth (cm)"]]
    return df["Snow depth (cm)"].max()


def main():
    print(f"Max snow depth: {snow_depth()}")

if __name__ == "__main__":
    main()

Max snow depth: 15.0

#### <div class="alert alert-info">Exercise 10 (average temperature)</div>

Write function `average_temperature` that reads the weather data set and returns the average temperature in July.

Print the result in the `main` function in the following form:
```
Average temperature in July: xx.x
```
<hr/>

In [15]:
#!/usr/bin/env python3

import pandas as pd

def average_temperature():
    df = pd.read_csv("kumpula-weather-2017.csv")
    df1 = df[181:212]
    return df1["Air temperature (degC)"].mean()

def main():
    print(f"Average temperature in July: {average_temperature()}")

if __name__ == "__main__":
    main()

Average temperature in July: 16.035483870967745

#### <div class="alert alert-info">Exercise 11 (below zero)</div>

Write function `below_zero` that returns the number of days when the temperature was below zero.

Print the result in the main function in the following form:

```
Number of days below zero: xx
```
<hr/>

In [2]:
import pandas as pd

def below_zero():
    df = pd.read_csv("kumpula-weather-2017.csv")
    
    df1 = df[df["Air temperature (degC)"]<0].count()
    return df1["d"]

def main():
    print(f"Number of days below zero: {below_zero()}")
    
if __name__ == "__main__":
    main()

Number of days below zero: 49

## Missing data

You may have noticed something strange in the output of the `describe` method. First, the minimum value in both precipitation and snow depth fields is -1. The special value -1 means that on that day there was absolutely no snow or rain, whereas the value 0 might indicate that the value was close to zero. Secondly, the snow depth column has count 358, whereas the other columns have count 365, one measurement/value for each day of the year. How is this possible? Every field in a DataFrame should have the same number of rows. Let's use the `unique` method of the Series object to find out, which different values are used in this column:

Pandas excludes the missing values from the summary statistics, like we saw in the previous section. Pandas also provides some functions to handle missing values.

The missing values can be located with the `isnull` method:

#### <div class="alert alert-info">Exercise 12 (cyclists)</div>

Write function `cyclists` that does the following.

Load the Helsinki bicycle data set from the `src` folder (https://hri.fi/data/dataset//helsingin-pyorailijamaarat). The dataset contains the number of cyclists passing by measuring points per hour. The data is gathered over about four years, and there are 20 measuring points around Helsinki. The dataset contains some empty rows at the end. Get rid of these. Also, get rid of columns that contain only missing values. Return the cleaned dataset. 

<hr/>

In [3]:
#!/usr/bin/env python3

import pandas as pd

def cyclists():
    df= pd.read_csv("Helsingin_pyorailijamaarat.csv", sep=";")
    df1=df.dropna(how="all")
    df2= df1.dropna(axis=1, how="all")
    
    return df2


def main():
    print(cyclists())
    
if __name__ == "__main__":
    main()

                    Päivämäärä  Auroransilta  Eteläesplanadi  \
0        ke 1 tammi 2014 00:00           NaN             7.0
1        ke 1 tammi 2014 01:00           NaN             5.0
2        ke 1 tammi 2014 02:00           NaN             2.0
3        ke 1 tammi 2014 03:00           NaN             5.0
4        ke 1 tammi 2014 04:00           NaN             1.0
...                        ...           ...             ...
37123  ti 27 maalis 2018 19:00          21.0            30.0
37124  ti 27 maalis 2018 20:00          10.0            19.0
37125  ti 27 maalis 2018 21:00           7.0            13.0
37126  ti 27 maalis 2018 22:00           1.0             5.0
37127  ti 27 maalis 2018 23:00           0.0             0.0

       Huopalahti (asema)  Kaisaniemi/Eläintarhanlahti  Kaivokatu  \
0                     NaN                          1.0        NaN
1                     NaN                          3.0        NaN
2                     NaN                          3.0        NaN
3                     NaN                          2.0        NaN
4                     NaN                          4.0        NaN
...                   ...                          ...        ...
37123                18.0                         29.0       51.0
37124                19.0                         12.0       26.0
37125                10.0                          4.0       11.0
37126                 5.0                          6.0        7.0
37127                 0.0                          0.0        4.0

       Kulosaaren silta et.  Kulosaaren silta po.   Kuusisaarentie  \
0                       NaN                    NaN             NaN
1                       NaN                    NaN             NaN
2                       NaN                    NaN             NaN
3                       NaN                    NaN             NaN
4                       NaN                    NaN             NaN
...                     ...                    ...             ...
37123                   0.0                   26.0            31.0
37124                   0.0                   25.0             9.0
37125                   1.0                    4.0            12.0
37126                   0.0                    4.0             1.0
37127                   0.0                    1.0             0.0

       Käpylä, Pohjoisbaana  ...  Merikannontie  \
0                       NaN  ...            NaN
1                       NaN  ...            NaN
2                       NaN  ...            NaN
3                       NaN  ...            NaN
4                       NaN  ...            NaN
...                     ...  ...            ...
37123                  19.0  ...           34.0
37124                  12.0  ...           28.0
37125                   4.0  ...           18.0
37126                   4.0  ...            8.0
37127                   7.0  ...            2.0

       Munkkiniemen silta eteläpuoli  Munkkiniemi silta pohjoispuoli  \
0                                2.0                             5.0
1                                6.0                             5.0
2                                1.0                             1.0
3                                0.0                             2.0
4                                1.0                             1.0
...                              ...                             ...
37123                           31.0                            15.0
37124                           20.0                             8.0
37125                           11.0                             7.0
37126                            5.0                             8.0
37127                            1.0                             2.0

       Heperian puisto/Ooppera  Pitkäsilta itäpuoli  Pitkäsilta länsipuoli  \
0                          3.0                  NaN                   11.0
1                          1.0                  NaN                    8.0
2                          1.0                  NaN                   14.0
3                          0.0                  NaN                    7.0
4                          1.0                  NaN                    9.0
...                        ...                  ...                    ...
37123                     68.0                 39.0                   20.0
37124                     38.0                 24.0                   10.0
37125                     32.0                 25.0                   14.0
37126                      8.0                  8.0                    3.0
37127                      5.0                  6.0                    3.0

       Lauttasaaren silta pohjoispuoli  Ratapihantie  Viikintie  Baana
0                                  NaN           NaN        NaN    8.0
1                                  NaN           NaN        NaN    4.0
2                                  NaN           NaN        NaN   11.0
3                                  NaN           NaN        NaN    3.0
4                                  NaN           NaN        NaN    4.0
...                                ...           ...        ...    ...
37123                             22.0          28.0       12.0   55.0
37124                             21.0          19.0        6.0   43.0
37125                             11.0          17.0        2.0   27.0
37126                              2.0          11.0        0.0   10.0
37127                              2.0           0.0        0.0    4.0

[37128 rows x 21 columns]

#### <div class="alert alert-info">Exercise 13 (missing value types)</div>

Make function `missing_value_types` that returns the following DataFrame. Use the `State` column as the (row) index. The value types for the two other columns should be `float` and `object`, respectively. Replace the dashes with the appropriate missing value symbols.

State | Year of independence | President
------|----------------------|----------
United Kingdom | - | -
Finland | 1917 | Niinistö
USA | 1776 | Trump
Sweden | 1523 | -
Germany | - | Steinmeier
Russia | 1992 | Putin

<hr/>

In [4]:
#!/usr/bin/env python3

import pandas as pd
import numpy as np

def missing_value_types():
    df= pd.DataFrame([["United Kingdom", np.nan, None], ["Finland", 1917, "Niinistö"], ["USA", 1776, "Trump"], ["Sweden",	1523, None	], ["Germany", np.nan, "Steinmeier"], 
    ["Russia",	1992,	"Putin"]], columns=["State", "Year of independence", "President"])
    df1= df.set_index("State")
    return df1
               
def main():
    print(missing_value_types())

if __name__ == "__main__":
    main()

                Year of independence   President
State
United Kingdom                   NaN        None
Finland                       1917.0    Niinistö
USA                           1776.0       Trump
Sweden                        1523.0        None
Germany                          NaN  Steinmeier
Russia                        1992.0       Putin

#### <div class="alert alert-info">Exercise 14 (special missing values)</div>

Write function `special_missing_values` that does the following.

Read the data set of the top forty singles from the beginning of the year 1964 from the `src` folder. Return the rows whose singles' position dropped compared to last week's position (column LW=Last Week).

To do this you first have to convert the special values "New" and "Re" (Re-entry) to missing values (`None`).

<hr/>

In [5]:
#!/usr/bin/env python3

import pandas as pd
import numpy as np

def special_missing_values():
    df= pd.read_csv("UK-top40-1964-1-2.tsv",sep="\t")
    df1= df.replace({"New":np.nan, "Re":np.nan})
    df1["LW"]=df1["LW"].astype(float)
    df1["Pos"]=df1["Pos"].astype(float)
    df2= df1[df1["Pos"]>df1["LW"]]
    return df2

def main():
    print(special_missing_values())

if __name__ == "__main__":
    main()

     Pos    LW                                 Title  \
2    3.0   2.0                         SHE LOVES YOU
3    4.0   3.0                  YOU WERE MADE FOR ME
5    6.0   5.0            I ONLY WANT TO BE WITH YOU
8    9.0   4.0                           SECRET LOVE
9   10.0   8.0                     DON'T TALK TO HIM
11  12.0  11.0                              GERONIMO
14  15.0  14.0                   I WANNA BE YOUR MAN
15  16.0  12.0               YOU'LL NEVER WALK ALONE
20  21.0  13.0               I'LL KEEP YOU SATISFIED
21  22.0  21.0                  IF I RULED THE WORLD
23  24.0  20.0  ALL I WANT FOR CHRISTMAS IS A BEATLE
29  30.0  22.0                  IT'S ALMOST TOMORROW
30  31.0  24.0                       HUNGRY FOR LOVE
33  34.0  33.0                           DEEP PURPLE
34  35.0  31.0                   BLOWING IN THE WIND
37  38.0  30.0                       SUGAR AND SPICE
38  39.0  37.0                      YESTERDAY'S GONE

                            Artist        Publisher  Peak Pos  WoC
2                      THE BEATLES       PARLOPHONE         1   19
3         FREDDIE AND THE DREAMERS         COLUMBIA         3    9
5                DUSTY SPRINGFIELD          PHILIPS         5    6
8                      KATHY KIRBY            DECCA         4    9
9                    CLIFF RICHARD         COLUMBIA         2    9
11                     THE SHADOWS         COLUMBIA        11    5
14              THE ROLLING STONES            DECCA        13    7
15        GERRY AND THE PACEMAKERS         COLUMBIA         1   13
20  BILLY J KRAMER AND THE DAKOTAS       PARLOPHONE         4    9
21                   HARRY SECOMBE          PHILIPS        18    7
23                      DORA BRYAN          FONTANA        20    5
29                     MARK WYNTER              PYE        12    8
30     JOHNNY KIDD AND THE PIRATES              HMV        20    6
33    NINO TEMPO AND APRIL STEVENS           LONDON        17    8
34            PETER, PAUL AND MARY  WARNER BROTHERS        13   11
37                   THE SEARCHERS              PYE         2   11
38    CHAD STUART AND JEREMY CLYDE            EMBER        37    4

#### <div class="alert alert-info">Exercise 15 (last week)</div>

This exercise can give two points at maximum!

Write function `last_week` that reads the top40 data set mentioned in the above exercise. The function should then try to reconstruct the top40 list of the previous week based on that week's list. Try to do this as well as possible. You can fill the values that are impossible to reconstruct by missing value symbols. Your solution should work for a top40 list of any week. So don't rely on specific features of this top40 list. The column `WoC` means "Weeks on Chart", that is, on how many weeks this song has been on the top 40 list.

Hint. First create the last week's top40 list of those songs that are also on this week's list. Then add those entries that were not on this week's list. Finally sort by position.

Hint 2. The `where` method of Series and DataFrame can be useful. It can also be nested.

Hint 3. Like in NumPy, you can use with Pandas the bitwise operators `&`, `|`, and `~`.
Remember that he bitwise operators have higher precedence than the comparison operations, so you may
have to use parentheses around comparisons, if you combined result of comparisons with bitwise operators.

You get a second point, if you get the columns `LW` and `Peak Pos` correct.

<hr/>

## Converting columns from one type to another

There are several ways of converting a column to another type. For converting single columns (a Series) one can use the `pd.to_numeric` function or the `map` method. For converting several columns in one go one can use the `astype` method. We will give a few examples of use of these methods/functions. For more details, look from the Pandas documentation.

#### <div class="alert alert-info">Exercise 16 (split date)</div>

Read again the bicycle data set from `src` folder,
and clean it as in the earlier exercise. Then split the `Päivämäärä` column into a DataFrame with five columns with column names `Weekday`, `Day`, `Month`, `Year`, and `Hour`. Note that you also need to to do some conversions. To get Hours, drop the colon and minutes. Convert field `Weekday` according the following rule:
```
ma -> Mon
ti -> Tue
ke -> Wed
to -> Thu
pe -> Fri
la -> Sat
su -> Sun
```
Convert the `Month` column according to the following mapping
```
tammi 1
helmi 2
maalis 3
huhti 4
touko 5
kesä 6
heinä 7
elo 8
syys 9
loka 10
marras 11
joulu 12
```

Create function `split_date` that does the above and returns a DataFrame with five columns. You may want to use the `map` method of Series objects.

So the first element in the `Päivämäärä` column of the original data set should be converted from
`ke 1 tammi 2014 00:00`
to
`Wed 1 1 2014 0` . Test your solution from the `main` function.
<hr/>

In [6]:
#!/usr/bin/env python3

import pandas as pd
import numpy as np
import time
start_time = time.time()


def split_date():
    df = pd.read_csv("Helsingin_pyorailijamaarat.csv", sep="\;")
    df1=df.dropna(how="all")
    df2= df1.dropna(axis=1, how="all")

    df3= df2["PÃ¤ivÃ¤mÃ¤Ã¤rÃ¤"].str.split(expand=True)
    df3.columns= ["Weekday", "Day", "Month", "Year", "Hour"]
    df3["Hour"] = df3["Hour"].str.split(":", expand = True)[0]
    df3["Weekday"]= df3["Weekday"].replace({"ma":"Mon", "ti":"Tue", "ke":"Wed","to":"Thu","pe":"Fri","la":"Sat","su":"Sun"})
    df3["Month"]= df3["Month"].replace({"tammi":1, "helmi":2, "maalis":3,"huhti":4, "touko":5, "kesÃ¤": 6,"heinÃ¤": 7,"elo" :8,"syys" :9,"loka": 10,"marras" :11,"joulu": 12})
    df3 = df3.astype({"Weekday":object,"Day":int,"Month":int,"Year":int, "Hour":int})
    return df3

def main():
    print(split_date())
       
if __name__ == "__main__":
    main()
    print("--- %s seconds ---" % (time.time() - start_time))

C:\Users\MoFo\anaconda3\lib\site-packages\ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

      Weekday  Day  Month  Year  Hour
0         Wed    1      1  2014     0
1         Wed    1      1  2014     1
2         Wed    1      1  2014     2
3         Wed    1      1  2014     3
4         Wed    1      1  2014     4
...       ...  ...    ...   ...   ...
37123     Tue   27      3  2018    19
37124     Tue   27      3  2018    20
37125     Tue   27      3  2018    21
37126     Tue   27      3  2018    22
37127     Tue   27      3  2018    23

[37128 rows x 5 columns]
--- 1.6450121402740479 seconds ---

#### <div class="alert alert-info">Exercise 17 (cleaning data)</div>

This exercise can give two points at maximum!

The entries in the following table of US presidents are not uniformly formatted. Make function `cleaning_data` that reads the table from the tsv file `src/presidents.tsv` and returns the cleaned version of it. Note, you must do the edits programmatically using the string edit methods, not by creating a new DataFrame by hand. The columns should have `dtype`s `object`, `integer`, `float`, `integer`, `object`. The `where` method of DataFrames can be helpful, likewise the [string methods](http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling) of Series objects. You get an additional point, if you manage to get the columns President and Vice-president right!

President |	Start |	Last |	Seasons | 	Vice-president|
----------|-------|------|----------|------------------|
donald trump|	2017 Jan|	-|	1|	Mike pence
barack obama|	2009|	2017|	2|	joe Biden
bush, george|	2001|	2009|	2|	Cheney, dick
Clinton, Bill|	1993|	2001|	two|	gore, Al

In [9]:
#!/usr/bin/env python3

import pandas as pd
import numpy as np
import time
start_time = time.time()


def cleaning_data():
    
    df = pd.read_csv("presidents.tsv", sep= "\t")

    for i in df["President"]:
        if ","in i:
            print (i)
            j=i.split(", ")
            j=j[1]+" "+ j[0]
            df["President"]=df["President"].replace({i:j})

    for i in df["Vice-president"]:
        if ","in i:
            j=i.split(", ")
            j=j[1].capitalize()+" "+ j[0].capitalize()
            df["Vice-president"]=df["Vice-president"].replace({i:j})
        else:
            j=i.split(" ")
            j=j[0].capitalize()+" "+ j[1].capitalize()
            df["Vice-president"]=df["Vice-president"].replace({i:j})     
        

    df["Start"][0]= df["Start"][0].split()[0]
    df["Last"]= df["Last"].replace({"-":np.nan})
    df["Seasons"]= df["Seasons"].replace({"two":2})
    df = df.astype({"President":object,"Start":int,"Last":float,"Seasons":int,"Vice-president":object})
    return df



def main():
    print(cleaning_data())

if __name__ == "__main__":
    main()
    print("--- %s seconds ---" % (time.time() - start_time))

Bush, George
Clinton, Bill
      President  Start    Last  Seasons Vice-president
0  Donald Trump   2017     NaN        1     Mike Pence
1  Barack Obama   2009  2017.0        2      Joe Biden
2   George Bush   2001  2009.0        2    Dick Cheney
3  Bill Clinton   1993  2001.0        2        Al Gore
--- 0.025999069213867188 seconds ---